/* 헤더 */
.title-img {
    display: block;
    width: 167px;
}

/* 판매중인 음료 목록 */
.product {
    margin-bottom: 20px;
}

/* 음료 구매 아티클 */
.buy {
    display: grid;
    grid-template-columns: 200px 94px;
    grid-template-rows: 32px 32px 108px;
    column-gap: 12px;
    row-gap: 12px;
}

.product-buy {
    width: 100%;
    margin-bottom: 20px;
}

/* 잔액 조회 및 거스름돈 반환하기 */
.buy__manage-money {
    display: contents;
}

.buy__manage-money .balance {
    display: flex;
    align-items: center;
    padding: 6px 10px;
}

.buy__manage-money span {
    margin-left: auto;
}

/* 음료 살 돈 입금하기 */
.buy__put-money {
    display: contents;
}

/* 음료 구매하기 */
.buy__cart {
    display: contents;
}

/* 소지금 div */
.money {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 6px 10px;
    margin-bottom: 41px;
}

.money h2 {
    margin: 0 auto 0 0;
}

.money strong {
    font-weight: 700;
}

/* 획득한 음료 아티클 */
.inventory {
    width: 100%;
}

.inventory h2 {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.inventory .scroll-list {
    height: 364px;
    margin-bottom: 6px;
}

.inventory .sum-money {
    display: block;
    font-size: 12px;
    text-align: right;
}

/* 중복 스타일 */
.buy__manage-money .balance span::after,
.money h2::after,
.sum-money span::after {
    content: ' :';
    position: relative;
    top: 1px;
}

.buy__manage-money .balance strong,
.money strong {
    flex-grow: 1;
    text-align: right;
}

/* 반응형 디자인 */
@media (min-width: 992px) {
    .title-img {
        width: 386px;
    }

    .vending-machine .right {
        width: 360px;
    }

    .vending-machine .left {
        padding: 29px 27px 28px;
        margin-right: 28px;
    }

    .vending-machine .right-top {
        padding: 9px 27px;
        margin-bottom: 20px;
    }

    .vending-machine .right-bottom {
        padding: 25px 27px 26px;
    }
    
    .product-buy {
        margin-bottom: initial;
    }

    .money {
        margin-bottom: initial;
    }

    .inventory {
        height: 474px;
    }
}