.wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 320px;
    max-width: 360px;
    margin: 0 auto 43px auto;
    padding: 0 27px;
}

.title-wrapper {
    margin: 0 auto 18px;
}

.vending-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vending-machine > div {
    width: 100%;
}

@media (min-width: 992px) {
    .wrapper {
        min-width: 748px;
        margin-bottom: 171px;
    }

    .title-wrapper {
        margin-bottom: 67px;
    }

    .vending-machine {
        flex-direction: row;
    }

    .vending-machine > div {
        width: initial;
    }
}